{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
{%load cloudinary%}
<div class="container p-3" style="margin-top: 8%; background-color: #f0f0f0">
  <div class="content-section">
    <div class="media">
      <div class="container">
        <div
          class="row p-5 rounded"
          style="
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.02);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(14.7px);
            -webkit-backdrop-filter: blur(14.7px);
            border: 1px solid rgba(255, 255, 255, 0.07);
          "
        >
          <div class="col-md-3 border border-end p-3 rounded">
            <img
              class="rounded-circle account-img"
              src="{{ user.profile.profile_picture.url }}"
              style="width: 150px; aspect-ratio: 1; clip-path: circle()"
            />
            <div class="">
              <span class="mr-3 text-secondary username"
                ><strong style="color: maroon" class="me-2">Username:</strong>{{user.username}}</span>
              <a
                class="btn btn-sm btn-outline-dark mr-3 mt-3"
                data-toggle="modal"
                data-target=".bd-example-modal-md"
                ><strong>Profile Update</strong></a
              >
            </div>
          </div>
          <div class="col-md-8 mt-3">
            <div class="media-body">
              <div class="post-details mt-3 mb-3">
                <span class="mr-5 px-2 py-1 bg-light rounded-pill"
                  ><strong>{{images.count}}</strong> Posts</span
                >
                <span class="mr-5 px-2 py-1 bg-light rounded-pill">
                  <strong>{{ user.profile.followers.count }}</strong>
                  followers</span
                >
                <span class="mr-5 px-2 py-1 bg-light rounded-pill">
                  <strong>{{ user.profile.following.count }}</strong>
                  following</span
                >
              </div>
              <div style="background-color: azure">
                <p class="p-4">Bio:<small>{{ user.profile.bio }}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade bd-example-modal-md"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <form
            action=""
            method="post"
            novalidate
            enctype="multipart/form-data"
            class="mr-4 mt-4 ml-4 mb-4"
          >
            {% csrf_token%} {{ user_form|crispy}} {{ prof_form|crispy}}
            <button type="submit" class="btn btn-outline-dark w-100">
              Update Profile
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="mt-4" />
  <div class="card-columns">
    {% for image in images %}
    <div class="card">
      <div class="card-body">
        <img
          src="{{image.image.url}}"
          alt="{{image.caption}}"
          class="card-img"
          style="width: 100%; aspect-ratio: 1"
        />
        <p id="overlay" class="text">
          <i class="fas fa-heart" style="color: white; font-size: 18"></i>
          <span style="color: white">{{image.likes.count}}</span>
          <i class="fas fa-comment ml-4" style="color: white"></i>
          <span style="color: white">{{image.comments.count}}</span>
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
